@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f6f6f6;

}

.imgContainer{
    width: 300px;
    height: 300px;
}

.projectItem{
    width: 300px;
    overflow: hidden;
}

/* category names */ 
.Study{
    background-color: black;
}
.Read{
    background-color: #63C97C;
}
.Watch{
    background-color: #68BACC;
}
.Experience{
    background-color: #E96146;
}
.Review{
    background-color: #DA354B;
}
.Think{
    background-color: #F5C344;
}

.projectTitle{
    font-size:18px;
    font-weight: 600;
    padding-top:4px;
    padding-bottom:4px;
}